.js-color {
  color: #efd81a;
}

.pt-large {
  padding-top: 100px;
}

.link {
  cursor: pointer;
}

.btn-primary {
  background-color: #47abd9 !important;
}

.btn-primary:hover {
  background-color: #0067f6 !important;
}
